.item {
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    align-content: center;
    display: flex;
    margin: 20px 0;
    position: relative;
}
.image {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: 0 0 0 30px;
}
.message {
    align-content: center;
    margin-left: 30px;
}

.likes {
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    top: 85%;
    right: 70%;

}