.item {
    font-size: 15px;
    font-weight: 700;
    display: flex;

    padding: 10px;
    margin: 10px 0;
    position: relative;

}
.image {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: 0 0 0 30px;
}
.message {
    display: flex;
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
}
.wraper {
    background-color: #314f2d;
    border-radius: 5px;
    margin-left: 20px;
    border: black 1px solid;
    width: 400px;
    min-height: 50px;
}
.likes {
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    top: 85%;
    right: 20%;

}