.profile__conatiner {
    position: relative;
    color: #314f2d;
    font-size: 14px;
    display: flex;
    flex-basis: 50%;
}
.profile__image {
    position: relative;
    padding: 10px;
}
.profile__image img {
    border-radius: 5px;
    max-width: 350px;
}
.profile__info {
    padding: 10px;
}
.profile__name {
    font-weight: 600;
    font-size: 25px;
}
.profile__status {
    font-size: 15px;
    color: #387410;
}
.profile__about {
    width: 100%;
    padding-top: 20px;
}
.profile__defaultInfo {
    font-style: italic;
}
.profile__userInfo {
    font-weight: bold;
}
.profile__about__info {
    display: flex;
    justify-content: space-between;
}
.buttonSubmit {
    color: #ffffff;
    background-color: #76b955;
    border: 1px solid #314f2d;
    border-radius: 5px;
    margin-left: 5px;
    transition: all .2s linear;
}

.buttonSubmit:hover {
    color: #76b955;
    background-color: #ffffff;
    transition: all .2s linear;
}

.buttonCancel {
    transition: all .2s linear;
    color: #ffffff;
    background-color: red;
    border: 1px solid #741517;
    border-radius: 5px;
    margin-left: 5px;
}
.buttonCancel:hover {
    color: red;
    background-color: #ffffff;
    transition: all .2s linear;
}

.input {
    color: #314f2d;
    outline: none;
    background-color: white;
    border: 2px solid #314f2d;
    border-radius: 5px;
    padding: 3px;
    width: 100%;

}
.inputFile {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 200px;
    opacity: 0;
    transition: opacity .4s linear;
}
.inputFile:hover {
    transition: opacity .4s linear;
    opacity: 1;
}
